body{
    background-image: url(./assets/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    font-family: 'Love Ya Like A Sister', cursive;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    margin-bottom: -2.5vh;
    margin-top: -1vh;
    font-size: 80px;
}

header h3{
    font-size: 40px;
    padding: 0;
}

h4{
    font-size: xx-large;
}

.teamMember{
    border: 2px solid black;
    max-width: 25vw;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: rgba(204, 204, 204, .6);
    

}

.teamMember ul{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        column-gap: 20px;
        row-gap: 30px;
}


.teamMember ul li{
    height: 100px;
    width: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 0;
    font-family: 'Indie Flower', cursive;
    margin-top: 10px;
}

.teamMember li label{
    font-family: 'Love Ya Like A Sister', cursive;
    float: center;

}

.profiles{
    display: flex;
    justify-content: space-evenly;
}


